* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-family: 'Spectral SC', serif; }

a {
  text-decoration: none; }

body {
  position: relative;
  display: flex;
  height: 100vh;
  background: #002447 url("../assets/pictures/svg/bg.svg") no-repeat 50% -150px;
  background-size: 100%; }

.bg {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(20, 31, 41, 0.6); }

@keyframes showBlock {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*overlay*/
.overlay {
  display: none; }

.overlay--active {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 1s forwards; }

/*end overlay*/
/*popup*/
.popup {
  display: none; }

.popup-wrapper {
  position: absolute;
  z-index: 1002;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 1s forwards; }

.popup__container {
  margin: auto;
  padding: 50px 30px;
  border-radius: 4px;
  max-width: 500px;
  background: url("../assets/pictures/svg/leaf-1.svg") no-repeat -10% 110%, url("../assets/pictures/svg/leaf-2.svg") no-repeat 110% 25%, url("../assets/pictures/svg/leaf-4.svg") no-repeat 110% 90%, url("../assets/pictures/svg/leaf-3.svg") no-repeat 110% 70%, url("../assets/pictures/svg/leaf-5.svg") no-repeat 10% -10%, url("../assets/pictures/svg/leaf-6.svg") no-repeat -10% 40%, #bfab6f url("../assets/pictures/svg/popup-wrapper.svg") repeat;
  background-size: 150px, 100px, 140px, 120px, 120px, 90px, 250px;
  overflow: hidden; }

.popup-caption,
.popup-text,
.popup-link {
  color: #152444; }

.popup__content {
  width: 80%;
  margin: auto; }

.popup-caption {
  font-size: 20px;
  text-align: center; }

.popup-text {
  text-align: center; }

.popup-link-text {
  padding: 10px 0;
  text-align: center;
  margin: 10px auto;
  max-width: 150px;
  border: 2px solid white;
  border-radius: 4px;
  transition: all 0.3s ease-in-out; }
  .popup-link-text:hover {
    background: white;
    color: #152444;
    transition: all 0.3s ease-in-out; }

/*end popup*/
/*main*/
.wrapper {
  max-width: 900px;
  width: 100%;
  margin: 50px auto 0;
  min-height: 250px; }

.header-caption {
  font-size: 48pt;
  text-align: center;
  background: linear-gradient(45deg, #ecc152 25%, #f5f5a5 50%, #ecc152);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px auto;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out forwards; }

.header-img {
  display: block;
  margin: 10px auto;
  max-height: 50px;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 0.1s forwards; }

.header-text {
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 0.3s forwards; }

.header-text,
.main-text {
  font-size: 28px;
  color: #ecc152;
  text-align: center;
  margin: 10px auto; }

.caption__container {
  display: flex;
  margin: 10px auto; }

.caption-img {
  display: inline-block;
  max-height: 40px;
  max-width: 100px;
  margin: auto;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 0.5s forwards; }

.caption-img--left {
  transform: scale(-1, 1); }

.main-caption {
  font-size: 32pt;
  text-align: center;
  background: linear-gradient(45deg, #ecc152 25%, #f5f5a5 50%, #ecc152);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: auto;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 0.5s forwards; }

.line {
  display: block;
  margin: 5px auto;
  width: 70%;
  height: 2px;
  background: #ecc152;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 0.5s forwards; }

.line--small {
  display: block;
  margin: 15px auto;
  width: 50%;
  height: 2px;
  background: #ecc152;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 0.5s forwards; }

.main-text {
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 0.7s forwards; }

/*end main*/
/*card*/
.card-wrapper {
  display: flex;
  max-width: 500px;
  margin: 20px auto 30px;
  opacity: 0;
  animation: showBlock 0.3s ease-in-out 1s forwards; }

.container-nonuse {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 225px;
  margin: auto; }

.container {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 225px;
  margin: auto;
  transition: all 0.3s ease-in-out; }
  .container:hover {
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 15px 5px rgba(245, 245, 165, 0.4);
    -moz-box-shadow: 0 0 15px 5px rgba(245, 245, 165, 0.4);
    box-shadow: 0 0 15px 5px rgba(245, 245, 165, 0.4); }

.card {
  width: 125px;
  height: 225px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer; }

.front,
.back {
  position: absolute;
  width: 125px;
  height: 225px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #47525d; }

.card-shirt {
  width: 125px;
  height: 225px; }

.card-face {
  height: 225px;
  padding: 10px; }

.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/*end card*/
@media screen and (min-width: 992px) and (max-width: 1366px) {
  body {
    background: #002447 url("../assets/pictures/svg/bg.svg") no-repeat 50% -180px;
    background-size: 150%;
    padding: 10px; }

  .wrapper {
    margin: 20px auto 0; }

  .header-caption {
    font-size: 40pt; }

  .main-caption {
    font-size: 30px; }

  .header-text,
  .main-text {
    font-size: 26px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background: #002447 url("../assets/pictures/svg/bg.svg") no-repeat 50% -180px;
    background-size: 200%;
    padding: 10px; }

  .wrapper {
    margin: 20px auto 0; }

  .header-caption {
    font-size: 36pt; }

  .main-caption {
    font-size: 28px; }

  .header-text,
  .main-text {
    font-size: 26px; } }
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background: #002447 url("../assets/pictures/svg/bg.svg") no-repeat 50% -200px;
    background-size: 300%;
    padding: 10px; }

  .wrapper {
    margin: 10px auto 0; }

  .header-caption {
    font-size: 28pt; }

  .main-caption {
    font-size: 22px; }

  .header-text,
  .main-text {
    font-size: 16px; }

  .overlay--active,
  .popup-wrapper {
    position: fixed; }

  .popup__container {
    width: 95%; } }
@media screen and (max-width: 479px) {
  body {
    background: #002447 url("../assets/pictures/svg/bg.svg") no-repeat 50% -200px;
    background-size: 450%;
    padding: 10px; }

  .wrapper {
    margin: 0 auto; }

  .header-caption {
    font-size: 28pt; }

  .main-caption {
    font-size: 22px; }

  .header-text,
  .main-text {
    font-size: 16px; }

  .overlay--active,
  .popup-wrapper {
    position: fixed; }

  .popup__container {
    width: 95%; }

  .container-nonuse {
    width: 100px;
    height: 180px; }

  .container {
    width: 100px;
    height: 180px; }

  .card {
    width: 100px;
    height: 180px; }

  .front,
  .back {
    width: 100px;
    height: 180px; }

  .card-shirt {
    width: 100px;
    height: 180px; }

  .card-face {
    height: 180px;
    padding: 10px; } }
@media screen and (max-width: 320px) {
  .container-nonuse {
    width: 90px;
    height: 160px; }

  .container {
    width: 90px;
    height: 160px; }

  .card {
    width: 90px;
    height: 160px; }

  .front,
  .back {
    width: 90px;
    height: 160px; }

  .card-shirt {
    width: 90px;
    height: 160px; }

  .card-face {
    width: 90px;
    height: 160px; } }
@media screen and (min-height: 1024px) {
  body {
    background: #002447 url("../assets/pictures/svg/bg.svg") no-repeat 50% -200px;
    background-size: 170%;
    padding: 10px; } }
@media screen and (height: 1024px) and (width: 768px) {
  body {
    background: #002447 url("../assets/pictures/svg/bg.svg") no-repeat 50% -40%;
    background-size: 170%;
    padding: 10px; } }

/*# sourceMappingURL=style.css.map */
